// Paleta de colores KaijuStream
$primary-color: #9d4edd;   
$secondary-color: #0f0c29;  
$text-light: #ffffff;
$overlay-dark: rgba(15, 12, 41, 0.85); 

// Tipografías
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Breakpoints para Responsive
$tablet: 768px;
$desktop: 1024px;