.login-card {
  width: 100%;
  max-width: 420px;
  padding: 2rem;

  border-radius: 12px;
  backdrop-filter: blur(10px);

  background: rgba(20, 20, 40, 0.75);
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);

  animation: fadeIn 0.5s ease;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  border-radius: 6px;
  border: none;

  background: rgba(255,255,255,0.08);
  color: white;

  transition: 0.2s;
}

.login-card input:focus {
  outline: none;
  background: rgba(255,255,255,0.15);
}


/* Animación suave */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
