@use "../abstracts/variables" as *;
/* =========================================
LOGIN PAGE
========================================= */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('../assets/images/img-animes-juntos.jpg');
    background-size: cover;
}

.login-container form {
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-container button {
    width: 100%;
}