@use "../abstracts/variables" as *;
/* =========================================
PLAYER PAGE
========================================= */

.player-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    min-height: 80vh;
}

.video-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video-section h1 {
    color: $primary-color;
    font-size: 2rem;
}

.video-wrapper {
    width: 100%;
    background: black;
    border-radius: 12px;
    overflow: hidden;
}

.video-wrapper video {
    width: 100%;
    aspect-ratio: 16 / 9;
}


.anime-info {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 10px;
}

.anime-info h2 {
    color: white;
    margin-bottom: 10px;
}

.anime-info p {
    color: #ccc;
}

/* BOTON VOLVER */
.btn-back {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    border: 1px solid $primary-color;
    color: white;
    text-decoration: none;
}

.btn-back:hover {
    background: $primary-color;
}