@use "../abstracts/variables" as *;
@use "sass:color";

/* =========================================
    BOTONES GLOBALES
========================================= */

button,
.btn-back {
    font-family: $font-main;
    border: none;
    padding: 0.7rem 1.6rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: $transition-smooth;
    display: inline-block;
    text-align: center;
    background: linear-gradient(45deg, $primary-color, $accent-color);
    color: white;
    text-decoration: none;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba($primary-color, 0.4);
    }

    &:active {
        transform: translateY(0);
    }
}

/* VARIANTES DE BOTONES */

.btn-suscribir {
    width: 100%;
}

.btn-secundario {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    &:hover {
        background: rgba(255, 255, 255, 0.1);
        border-color: white;
    }
}

.btn-cancelar {
    background: none;
    color: $color-danger;
    border: 1px solid transparent;

    &:hover {
        color: color.scale($color-danger, $lightness: 10%);
        background: rgba($color-danger, 0.1);
        border-color: rgba($color-danger, 0.2);
    }
}

.hidden {
    display: none !important;
}