.loader {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.7);
    display: grid;
    place-items: center;
    z-index: 999;

    &.hidden {
        display: none;
    }
}

.spinner {
    width: 60px;
    height: 60px;
    border: 5px solid #fff3;
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
