@use "../abstracts/variables" as *;

/* =========================================
    BASE GLOBAL
========================================= */

html {
    font-size: clamp(14px, 1vw, 18px);
}

body {
    font-family: $font-main;
    color: $text-light;
    
    // Configuración de fondo con overlay para legibilidad
    background: linear-gradient($overlay-dark, $overlay-dark),
                url('../assets/images/img-animes-juntos.jpg') no-repeat center center fixed;
    background-size: cover;
    
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* MAIN GLOBAL */
main {
    flex: 1;
    padding: 2rem;
}

/* CONTENEDOR */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* MEDIA */
img,
video {
    max-width: 100%;
    height: auto;
}

/* BOTONES */
button {
    font-family: inherit;
}